/* ************************************************ */
/* ********************** SITE ******************** */
/* ************************************************ */

* {
	font: 11px arial, verdana, sans-serif;
	letter-spacing: 0pt;
}

body {
	font: 11x arial, verdana, sans-serif;
	background: #C3E691
		url(/public/images/fond.png) repeat-x
		scroll 0pt 0pt;
	letter-spacing: 0pt;
	background-position: center top;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	position: absolute;
	float: left;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
}

#logo a:link,#logo a:visited,#logo a:hover,#logo a:active {
	color: #791E1E;
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

#logo a:hover,#logo a:active {
	color: #a92929;
}

input {
	margin: 2px 2pt;
	background: #C3E691 none repeat-x scroll center top;
	color: #791E1E;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	padding-bottom: 1px;
	padding-top: 2px;
	width: auto !important;
	border: 1px solid #666666;
}

input:focus {
	border: 1px solid #791E1E;
	color: #791E1E;
}

input:hover {
	border: 1px solid #791E1E;
	color: #cc0000;
}

* html input.button1 {
	margin-bottom: 1px;
	padding-bottom: 0pt;
}

input.button1 {
	background-color: #FAFAFA;
	background-image:
		url(/public/images/bg_button.gif);
	color: #000000;
	border-color: #666666;
	font-size: 1em;
	border: 1px solid #666666;
}

input.button1:hover {
	border-color: #791E1E;
	color: #791E1E;
	cursor: pointer;
}

input.button1:active {
	color: #000000;
}

input.button1:disabled {
	background-position: 0pt 100%;
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
}

a,.alabel {
	color: #791E1E;
	text-align: center;
}

a:hover,.alabel:hover {
	color: #cc0000;
	cursor: pointer;
}

span.id_hobbit {
	color: red;
}

.box_chargement {
	position: absolute;
	width: 200px;
	height: 60px;
	valign: center;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 0px;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

#navigation {
	background-color: #FADC9B;
	border: 3px solid #FADC9B;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	width: 200px;
}

#navigation h3.head {
	background: #e7c57b url(/public/images/collapsed.gif) no-repeat scroll
		3px 4px;
	border: 1px solid #FADC9B;
	color: #791E1E;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-indent: 14px;
}

#navigation h3.head:hover {
	color: #000000;
}

#navigation h3.selected {
	background-image: url(/public/images/expanded.gif);
}

#navigation h3.current {
	background-color: #FFFF99;
}

#navigation ul {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

#navigation li {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#navigation li li h3 {
	color: #000000;
	display: block;
	text-decoration: none;
	text-indent: 10px;
}

#navigation li li h3:hover {
	background-color: #FFFF99;
	color: #FF0000;
}

/* ************************************************ */
/* ********************** Onglets ***************** */
/* ************************************************ */
.boite_a, {
	margin-top: 10px;
	width: auto;
}

.boite_a, {
	margin-top: 10px;
	width: 365px;
}

.onglet {
	border-style: solid;
	border-color: #791E1E;
	border-width: 1px;
	margin: 2px;
	margin-left: 10px;
}

.onglet.actif {
	background-color: #e7c57b;
	border-bottom-color: transparent;
}

.onglet.inactif {
	background-color: #FADC9B;
}

.onglet:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.box_naissancederniers, .box_naissancesexe {
	color: black;
	height: auto;
	text-align: center;
	z-index: 10;
	background: #transparent none repeat scroll 0% 0%;
}

/* ************************************************ */
/* ********************* Message ****************** */
/* ************************************************ */
.message_erreur {
	background-color: #FF6666;
	color: black;
	text-align: center;
}


/* ************************************************ */
/* ********************** Box ********************* */
/* ************************************************ */

/* Bordures top */
.xb_t1,.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_t1,.xb_t2 {
	height: 1px;
}

.xb_t3,.xb_t4,.xb_t5,.xb_t6 {
	height: 1px;
}

.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_t3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_t2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_t1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_t2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_t3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_t4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_t5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_t6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_t7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}

/* Bordures bottom */
.xb_b1,.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_b1,.xb_b2 {
	height: 1px;
}

.xb_b3,.xb_b4,.xb_b5,.xb_b6 {
	height: 1px;
}

.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_b3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_b2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_b1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_b2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_b3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_b4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_b5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_b6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_b7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}

/* ************************************************ */
/* ********************** Menu *********************** */
/* ************************************************ */


#menu {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(/public/images/menu-fond.gif) repeat-x scroll 0 0;*/
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
}
#menu ul {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(public/images/menuul.gif) no-repeat scroll 0 0; */
	height:31px;
	list-style-type:none;
	margin:0 auto;
	padding:1 50px;
	text-align:center;
	width:640px;
}
#menu li {
	background-repeat:no-repeat;
	float:left;
}
#menu li a {
	float:left;
	font-size:0;
	text-indent:-9999em;
}
#menu li.accueil a {
	background-image:url(/public/images/menu.gif);
	background-position: 0 0;
	height:31px;
	width:110px;
}
#menu li.accueil a:hover {
	background-image:url(/public/images/menu.gif);
	background-position: 0 -31px;
	height:31px;
	width:110px;
}
#menu li.jouer a {
	background-image:url(/public/images/menu.gif);
	background-position:-110px 0;
	height:31px;
	width:85px;
}
#menu li.jouer a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-110px -31px;
}
#menu li.bourg a {
	background-image:url(/public/images/menu.gif);
	background-position:-190px 0;
	height:31px;
	width:110px;
}
#menu li.bourg a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-190px -31px;
	height:31px;
}
#menu li.forums a {
	background-image:url(/public/images/menu.gif);
	background-position:-300px 0;
	height:31px;
	width:95px;
}
#menu li.forums a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-300px -31px;
}
#menu li.regles a {
	background-image:url(/public/images/menu.gif);
	background-position:-390px 0;
	height:31px;
	width:95px;
}
#menu li.regles a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-390px -31px;
	height:31px;
}
#menu li.projet a {
	background-image:url(/public/images/menu.gif);
	background-position:-490px 0;
	height:31px;
	width:106px;
}
#menu li.projet a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-490px -31px;
}

.contenu {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
	
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(/images.todo) no-repeat scroll 0 0;*/
	margin:0 auto;
	min-height:289px;
	padding:1px 0 0;
	position:relative;
	width:775px;
}

.contenuA,.contenuB {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.contenuC {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.box_contenu3 {
	text-align: left;
}

.titre {
	padding: 0px;
	font-weight: bolder;
	margin: 0.0em;
	color: #791E1E;
	font-variant: small-caps;
	letter-spacing: 2pt;
}

.textsizea {
	font-size: 2em;
}

.textsizeb {
	font-size: 1.4em;
}

.textsizec {
	font-size: 1.2em;
}

.textsized {
	font-size: 1.1em;
	letter-spacing: 1pt;
}

.textalia {
	text-align: left;
}

.textalib {
	text-align: right;
}

.textalic {
	text-align: center;
}

.box_titre1,.comp_titre {
	padding: 0px;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
	color: #791E1E;
	font-size: 1.4em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

.inner { /* exterieur de boite */
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
}

.inner_top { /* Interieur de la boite pour le bandeau haut*/
	height: 35px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
	text-align: top;
}

.inner_bot { /* Interieur de la boite pour le bandeau bas */
	height: 30px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
	text-align: center;
}

.box_contenu1 { /* interieur de la boite */
	background: #FADC9B repeat-x scroll 0pt 0%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #791E1E;
}


#header {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(/public/images/menu.gif) repeat-x scroll 0 0;*/
	height:50px;
	position:relative;
}
#header h1 {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/public/images/logo.png) no-repeat scroll 0 0;
	font-size:1px;
	font-weight:normal;
	height:50px;
	margin:0;
	padding:0;
	text-indent:-999em;
	width:550px;
}
#header h1 a {
	display:block;
	height:100%;
	text-decoration:none;
	width:100%;
}

table.table_liste {
	border: 1px solid #791E1E;
	border-collapse: collapse;
	width: 70%;
	margin: auto;
	align: center;
}

thead.table_liste,tfoot.table_liste {
	background-color: #CCCC99;
	border: 1px solid #791E1E;
	text-align: center;
}
th.table_liste {
	padding: 5px;
	background-color: #791E1E;
	width: 25%;
	text-align: center;
}
tr.table_liste0 {
	background: #e7c57b;
}

tr.table_liste1 {
	background: #;
}

td.table_liste_border {
	border: 1px solid #791E1E;
}

td.table_liste {
	padding: 5px;
	text-align: center;
}

#modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 0px; left: 0px;
}
.modalBackground
{
    filter: Alpha(Opacity=40); -moz-opacity:0.0; opacity: 0.0;
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}
.modalContainer
{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 20%;
    z-index: 750;
}
.modal
{
    background-color: white;
    border: solid 4px black; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    padding: 0px;
}
.modalTop
{
    width: 292px;
    background-color: #000099;
    padding: 4px;
    color: #ffffff;
    text-align: right;
}
.modalTop a, .modalTop a:visited
{
    color: #ffffff;
}
.modalBody
{
    padding: 10px;
}

/* (C) 2007 YOOtheme.com */
div.yoo-tooltip-toggler {
	cursor: pointer;
}

div.yoo-tooltip div.yoodefault .tooltip-tl {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_tl.png)
		0 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-tr {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_tr.png)
		100% 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-t {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_t.png)
		0 7pt repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-l {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_l.png)
		0 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-r {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_r.png)
		100% 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-m {
	background: #ffffff;
	padding: 10px 0px 0px 0px;
	overflow: hidden;
}

div.yoo-tooltip div.yoodefault .tooltip-bl {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_bl.png)
		0 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-br {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_br.png)
		100% 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-b {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_b.png)
		0 0 repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-arrow {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_arrow.png)
		50% 0 no-repeat;
}