html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}


#wrapper {
	padding-top:30px;
}
#menuhead {
   /* background: none repeat scroll 0 0 rgba(66, 48, 68, 0.98);
    border-top: 4px solid #FF632C;*/
    position: absolute;
    width: 100%;
    z-index: 10;
    align:left;
}
#menuhead > div {
    margin: 0 auto;
    padding-bottom: 2.5em;
    position: relative;
    width: 960px;
}
#menuhead nav ul {
    margin: 0;
    padding: 0;
    float: center;
}
#menuhead nav li {
    float: left;
    margin: 0;
}

ul.menu {
    list-style: none outside none;
    text-align: left;
}

#nav-main {
    margin: 3px 0 0 10px;
    position: relative;
    top: 2px;
    margin: 0 auto;
    text-align:center;
    width: 575px;
}
#nav-main li {
    position: relative;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#nav-main > ul > li {
    border-radius: 3px 3px 0 0;
    font-family: PerryGothic,'Arial Narrow',Arial,sans-serif;
    font-size: 16px;
    line-height: 17px;
}
#nav-main a {
    color: #414141;
    display: block;
    padding: 0.4117em 0.7em 0.5883em;
    text-shadow: 1px 1px 0 rgba(253, 254, 217, 0.5);
}
#nav-main > ul > li:hover {
    background: none repeat scroll 0 0 #FF632C;
}
#nav-main a:hover, #nav-main a:focus, #nav-main > ul > li:hover a {
    color: #dddddd;
}
#nav-main > ul > li {
    -moz-transition: background-color 0.3s ease 0s;
}
#nav-main li li a {
    -moz-transition: all 0.3s ease 0s;
}
#nav-main li ul {
    -moz-transition: opacity 0.3s ease 0s;
}
#nav-main li ul {
    margin-left: -9999px;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 220px;
}
#nav-main li:hover ul {
    margin-left: 0;
    opacity: 1;
}
#nav-main li li {
    float: none;
    font-family: BentonSans,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
}
#nav-main li li a {
    background: none repeat scroll 0 0 #C3E691;
    border-bottom: 1px solid #EE320F;
    border-top: 1px solid #FF7A4B;
    color: #CCCCCC;
    display: block;
    padding: 0.5em 1.25em;
    width: 100px;
}
#nav-main li li a:hover {
    background: none repeat scroll 0 0 #003B00;
    color: #661B01;
    text-shadow: none;
}
#nav-main li ul li:first-child a {
    border-radius: 0 3px 0 0;
    border-top: 0 none;
}
#nav-main li ul li:last-child a {
    border-bottom: 0 none;
    border-radius: 0 0 3px 3px;
}

ul.menu {
    margin: 0;
}
ul.menu li {
    margin: 0;
}
li.leaf, li.expanded, li.collapsed {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.block ul {
    padding: 0;
}



/* ************************************************ */
/* ********************** SITE ******************** */
/* ************************************************ */

body {
	background: #003b00;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 0px;
	
	font: 13px arial, verdana, sans-serif;
    text-align: justify;
    color: #CCCCCC;
	
	 /* Degrade */
    background: -moz-linear-gradient(45deg,#003b00,#5d8035);
    background: -webkit-gradient(linear, left bottom, right top, from(#003b00), to(#5d8035));
    background: url("/images/paper.jpg") repeat-x scroll 50% 0 #4b712d;
}

#frisebot, #frisetop {
	background:transparent url(/styles/braldahim_defaut/images/layout/frise.gif) repeat-x scroll 0 0;
	height:50px;
	padding:0px;
	margin-left: -10px;
}

#frisetop {
	margin-top: 5px;
}

#frisebot {
	margin-top: -10px;
}

#braldunsite {
	z-index:1000;
	background:transparent url(/images/braldun-site.png) no-repeat scroll 0 0;
	font-size:1px;
	font-weight:normal;
	height:340px;
	margin:0;
	padding:0;
	text-indent:-999em;
	width:330px;
	position:absolute;
	margin-top:-140px;
	margin-left:-150px;
}

#logo {
	position: absolute;
	float: left;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
}

#logo a:link,#logo a:visited,#logo a:hover,#logo a:active {
	color: #eeeeee;
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

#logo a:hover,#logo a:active {
	color: #a92929;
}

input {
	margin: 2px 2pt;
	background: #C3E691 none repeat-x scroll center top;
	color: #000000;
	padding-bottom: 1px;
	padding-top: 2px;
	width: auto !important;
	border: 1px solid #666666;
}

input:focus {
	border: 1px solid #000000;
	color: #000000;
}

input:hover {
	border: 1px solid #000000;
	color: #cc0000;
}

.braltip {
position:relative;
z-index:24;
cursor:pointer;
}
.braltipf {
z-index:25;
}
.braltip:hover {
color:#000000;
z-index:25;
}
.braltip div.tip {
display:none;
text-align:left;
}
div.braltip:hover div.tip, div.tipf {
background-color:#FFFFFF;
text-align:left;
border:1px solid #555555;
color:#505050;
display:block!important;
font-size:1em;
font:1em arial,verdana,sans-serif;
letter-spacing: 0pt;
left:2px;
padding:4px;
position:absolute;
top:3px;
min-width:250px;
width:auto;
min-height:100px;
z-index:300;
cursor:pointer;
border-radius: 10px; /* en css3 lui même */
	-moz-border-radius: 10px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px; /* pour Khtml : Konqueror… */
	
background: #FFFFFF
		url(/styles/braldahim_defaut/images/layout/gris.png) repeat-x
		scroll 0pt 100%;
}

div.tip hr, div.tipf hr {
border: none 0;
border-top: 1px dotted #C0C0C0;
width: 100%;
height: 1px;
}

* html input.button1 {
	margin-bottom: 1px;
	padding-bottom: 0pt;
}

input.button1 {
	background-color: #FAFAFA;
	background-image:
		url(/images/bg_button.gif);
	color: #000000;
	border-color: #666666;
	font-size: 1em;
	border: 1px solid #666666;
}

input.button1:hover {
	border-color: #000000;
	color: #000000;
	cursor: pointer;
}

input.button1:active {
	color: #000000;
}

input.button1:disabled {
	background-position: 0pt 100%;
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
}

a,.alabel {
	color: #003b00;
	text-align: center;
}

a:hover,.alabel:hover {
	color: #cc0000;
	cursor: pointer;
}

.aWhite {
	color: #CCCCCC;
}

span.id_braldun {
	color: red;
}

.box_chargement {
	position: absolute;
	width: 200px;
	height: 60px;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 0px;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

.box_gazette {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
}

.gazette_histoire{
	padding : 10px;
}

#navigation {
	background-color: #003b00;
	border: 3px solid #003b00;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	width: 200px;
}

#navigation h3.head {
	background: #003b00 url(/images/collapsed.gif) no-repeat scroll
		3px 4px;
	border: 1px solid #003b00;
	color: #000000;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-indent: 14px;
}

#navigation h3.head:hover {
	color: #000000;
}

#navigation h3.selected {
	background-image: url(/images/expanded.gif);
}

#navigation h3.current {
	background-color: #FFFF99;
}

#navigation ul {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

#navigation li {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background-color: #C3E691;
	color: #000000;
}

#navigation li li h3 {
	color: #000000;
	display: block;
	text-decoration: none;
	text-indent: 10px;
}

#navigation li li h3:hover {
	background-color: #FFFF99;
	color: #FF0000;
}


#navigation {
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	width: 200px;
}

#navigation h3.head {
	background: #497621 url('/images/collapsed.gif') no-repeat scroll
		3px 4px;
	border: 1px solid #2A5911;
	color: #232323;
	cursor: pointer;
	display: block;
	font-size:11px;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-indent: 14px;
}

#navigation h3.head:hover {
	color: #003b00;
}


#navigation h3.head.selected {
	background: #497621 url('/images/expanded.gif') no-repeat scroll
		3px 4px;
}

#navigation h3.current {
	background-color: #FFFF99;
}

#navigation ul {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

#navigation li {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#navigation li li h3 {
	color: #000000;
	display: block;
	text-decoration: none;
	text-indent: 10px;
}

#navigation li li h3:hover {
	background-color: #FFFF99;
	color: #FF0000;
}
/* ************************************************ */
/* ********************** Onglets ***************** */
/* ************************************************ */
.boite_a {
	margin-top: 10px;
	width: auto;
}

.onglet {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	margin: 2px;
	margin-left: 10px;
	
	border-radius: 10px 10px 2px 2px; /* en css3 lui même */
	-moz-border-radius: 10px 10px 2px 2px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px 10px 2px 2px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px 10px 2px 2px; /* pour Khtml : Konqueror… */
}

.onglet.actif {
	background-color: #003b00;
	border-bottom-color: transparent;
}

.onglet.inactif {
	background-color: #003b00;
}

.onglet:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.box_naissancederniers, .box_naissancesexe {
	color: black;
	height: auto;
	text-align: center;
	z-index: 10;
	background: none repeat scroll 0% 0%;
}

/* ************************************************ */
/* ********************* Message ****************** */
/* ************************************************ */
.message_erreur {
	background-color: #FF6666;
	color: black;
	text-align: center;
}

/* ************************************************ */
/* ********************** Menu *********************** */
/* ************************************************ */

#menu {
	height:auto;
	min-height:51px;
	margin-top: -10px;
}
#menu ul {
	list-style-type:none;
	margin:0 auto;
	padding:1px 50px;
	text-align:center;
	width:640px;
}
#menu li {
	background-repeat:no-repeat;
	float:left;
}
#menu li a {
	float:left;
	font-size:0;
	text-indent:-9999em;
	margin:10px auto;
	height:46px;
}
#menu li.accueil a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position: 0 0;
	width:120px;
}
#menu li.accueil a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position: 0 -45px;
}
#menu li.jouer a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-120px 0;
	width:70px;
}
#menu li.jouer a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-120px -45px;
}
#menu li.bourg a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-190px 0;
	width:110px;
}
#menu li.bourg a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-190px -45px;
}
#menu li.forums a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-300px 0;
	width:95px;
}
#menu li.forums a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-300px -45px;
}
#menu li.regles a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-395px 0;
	width:75px;
}
#menu li.regles a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-395px -45px;
}
#menu li.projet a {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-480px 0;
	width:115px;
}
#menu li.projet a:hover {
	background-image:url(/styles/braldahim_defaut/images/layout/menub.gif);
	background-position:-480px -45px;
}

.contenu {
	border-width: 0px;
	border-color: #000000;
	height: auto;
	margin:0 auto;
	min-height:289px;
	padding:1px 0 0;
	position:relative;
	width:775px;
}

.box_contenu1 { /* interieur de la boite */
	background: #C3E691 repeat-x scroll 0pt 0%;
	padding: 3px;
	margin: 0px;
	border-radius: 10px; /* en css3 lui même */
	-moz-border-radius: 10px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px; /* pour Khtml : Konqueror… */
	margin-bottom:2px;
	color:#000000;
}

.box_contenu0 { /* interieur de la boite */
	background: #628b28 repeat-x scroll 0pt 0%;
	padding: 3px;
	margin: 0px;
	border-radius: 10px; /* en css3 lui même */
	-moz-border-radius: 10px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px; /* pour Khtml : Konqueror… */
	margin-bottom:2px;
	color:#000000;
}

.contenuA,.contenuB {
	border-width: 0px;
	border-color: #000000;
	height: auto;
}

.contenuC {
	border-width: 0px;
	border-color: #000000;
	height: auto;
}

.box_contenu3 {
	text-align: left;
}

.titrea {
	font-family: "Essays 1743",Times,serif;
	font-weight: normal;
    text-transform: uppercase;
    color: #f0ae21;
    text-shadow: 0 0 4px black, 0 -5px 4px black;
}

.titre {
	padding: 0px;
	font-weight: bolder;
	margin: 0.0em;
	font-variant: small-caps;
	letter-spacing: 2pt;
}

.textsize0 {
	font-size: 1.6em;
}

.textsizea {
	font-size: 1.4em;
}

.textsizeb {
	font-size: 1.3em;
}

.textsizec {
	font-size: 1.2em;
}

.textsized {
	font-size: 1.0em;
	letter-spacing: 1pt;
}


.equipea {
	color: red;
}

.equipeb {
	color: blue;
}

.texttitre {
	font-size: 0.8em;
	letter-spacing: 1pt;
	text-shadow: none;
	text-transform: none;
}

.a {
    font-size: xx-large;
    line-height: 0.875;
    text-shadow: 0 0 2px #666677;
    text-shadow: 0 0 4px 666677,
      0 -5px 4px 666677;
      
    text-align: center;
}

.textdark {
	color:#232323;	
}

.textalia {
	text-align: left;
}

.textalib {
	text-align: right;
}

.textalic {
	text-align: center;
}

.box_titre1,.comp_titre {
	padding: 0px;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
	color: #000000;
	font-size: 1.4em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

.inner { /* exterieur de boite */
	border-radius: 10px; /* en css3 lui même */
	-moz-border-radius: 10px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px; /* pour Khtml : Konqueror… */
	padding: 5pt 10px;
	border-color: #000000;
	border-style: solid;
	border-width: 1pt 1px;
	display: block;
	background: #003b00 repeat-x scroll 0pt 0%;
	
	 -webkit-box-shadow: 0px 10px 16px -1px #000000;
    -moz-box-shadow:0px 10px 16px -1px #000000;
     box-shadow: 0px 10px 16px -1px #000000;
}

.inner_top { /* Interieur de la boite pour le bandeau haut*/
	height: 35px;
	padding: 1pt 10px;
	border-color: #000000;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #003b00 repeat-x scroll 0pt 0%;
}

.inner_bot { /* Interieur de la boite pour le bandeau bas */
	height: 30px;
	padding: 1pt 10px;
	border-color: #000000;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #003b00 repeat-x scroll 0pt 0%;
	text-align: center;
}

.inner_footer {
	height: 30px;
	padding: 1pt 10px;
	display: block;
	color: #eeeeee;
	text-align: center;
	
	 /* Ombre portee */
    -webkit-box-shadow: #000 0px 0 16px -1px;
    -moz-box-shadow: #000 0px 0 16px -1px;
    box-shadow: #000 0px 0 16px -1px;
    width:97%;
}
	
.box_contenu {
	border-radius: 10px; /* en css3 lui même */
	-moz-border-radius: 10px; /* pour Gecko : Firefox, Epiphany… */
	-webkit-border-radius: 10px; /* pour Webkit : Safari, Chrome… */
	-khtml-border-radius: 10px; /* pour Khtml : Konqueror… */
	background: #003b00 repeat-x scroll 0pt 0%;
	padding: 0px;
	margin: 0px;
	border: 1px solid #000000;
	
	 -webkit-box-shadow: 0px 10px 16px -1px #000000;
    -moz-box-shadow:0px 10px 16px -1px #000000;
     box-shadow: 0px 10px 16px -1px #000000;
}

#header {
	height:50px;
	position:relative;
}
#header h1 {
	background:transparent url(/styles/braldahim_defaut/images/layout/braldahim3.png) no-repeat scroll 0 0;
	font-size:1px;
	font-weight:normal;
	height:75px;
	margin:0;
	padding:0;
	text-indent:-999em;
	width:280px;
	position:absolute;
	margin-top:10px;
	margin-left:15px;
}
#header h1 a {
	height:100%;
	text-decoration:none;
	width:100%;
}

table.table_liste {
	border: 1px solid #000000;
	border-collapse: collapse;
	width: 70%;
	margin: auto;
	align: center;
	color: #232323;
}

thead.table_liste,tfoot.table_liste {
	color: #232323;
	background-color: #497621;
	border: 1px solid #000000;
	text-align: center;
}

td.table_liste_th {
	color: #000000;
	background-color: #2a5911;
	border: 1px solid #000000;
}

th.table_liste {
	padding: 5px;
	background-color: #000000;
	width: 25%;
	text-align: center;
}
tr.table_liste0 {
	background: #C3E691;
}

tr.table_liste1 {
	background: #628b28;/*2a5911;*/
}

td.table_liste_border {
	border: 1px solid #000000;
}

td.table_liste {
	padding: 5px;
	text-align: center;
}

#modalPage
{
    display: none;
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 0px; left: 0px;
}

.modalBackground
{
    filter: alpha (opacity=40); 
    -moz-opacity:0.0; 
    opacity: 0.0;
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}

.modalContainer
{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 20%;
    z-index: 750;
}
.modal
{
    background-color: white;
    border: solid 4px black; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    padding: 0px;
}
.modalTop
{
    width: 292px;
    background-color: #000099;
    padding: 4px;
    color: #ffffff;
    text-align: right;
}
.modalTop a, .modalTop a:visited
{
    color: #ffffff;
}
.modalBody
{
    padding: 10px;
}

/* (C) 2007 YOOtheme.com */
div.yoo-tooltip-toggler {
	cursor: pointer;
}

div.yoo-tooltip div.yoodefault .tooltip-tl {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_tl.png)
		0 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-tr {
	padding: 0px 15px 0px 15px;
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_tr.png)
		100% 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-t {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_t.png)
		0 7pt repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-l {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_l.png)
		0 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-r {
	padding: 0px 15px 0px 15px;
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_r.png)
		100% 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-m {
	background: #ffffff;
	padding: 10px 0px 0px 0px;
	overflow: hidden;
	color:#000000;
}

div.yoo-tooltip div.yoodefault .tooltip-bl {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_bl.png)
		0 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-br {
	padding: 0px 15px 0px 15px;
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_br.png)
		100% 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-b {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_b.png)
		0 0 repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-arrow {
	background:
		url(/styles/braldahim_defaut/images/layout/popup/bubble_arrow.png)
		50% 0 no-repeat;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 15px;
  background: url("/images/rss.png") no-repeat 0 50%;
  color: #eeeeee;
} 

div.gridbox {
	overflow: hidden;
}

.dhx_sub_row {
	background-color: white;
}

div.gridbox .xhdr {
	background-Color: #D4D0C8;
}

div.gridbox table.hdr td {
	background-Color: #D4D0C8;
	border: 1px solid;
	border-color: white Gray Gray white;
	text-align: center;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	font-weight: normal;
	-moz-user-select: none;
	empty-cells: show;
}

div.gridbox table.hdr td div.hdrcell {
	overflow: hidden;
}

div.gridbox table.obj td {
	border: 1px solid;
	border-color: white Gray Gray white;
	-moz-user-select: none;
	padding-top: 0px;
	padding-bottom: 0px;
	empty-cells: show;
}

div.gridbox table.obj th {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

div.gridbox table.row20px tr  td {
	height: 20px;
	white-space: nowrap;
	padding: 0px;
}

div.gridbox .objbox {
	background-color: white;
}

div.gridbox table.obj td span.space,div.gridbox table.obj td img.space {
	width: 18px;
}

div.gridbox table.obj td.editable {
	-moz-user-select: text;
}

div.gridbox table.obj td.group_row {
	vertical-align: middle;
	font-weight: bold;
	height: 30px;
	border: 0px;
	border-bottom: 2px solid navy;
}

.dragSpanDiv {
	font-size: 12px;
	border: 1px gray solid;
	background-color: white;
}

.dhx_combo_select {
	font-size: 12px;
	border: 1px solid;
	border-color: black silver silver black;
	background-color: white;
	overflow: hidden;
	cursor: default;
	position: absolute;
	height: auto;
	z-index: 600;
}

.dhx_combo_edit {
	width: 100%;
	border: 0px;
	padding: 0px;
	padding-right: 1px;
	margin: 0px;
	font: 12px arial;
	overflow: hidden;
}

.dhx_textarea {
	border: 1px solid;
	border-color: black silver silver black;
	position: absolute;
	height: 100px;
}

.dhx_clist {
	background-color: white;
	border: 1px solid black;
	padding: 2px 2px 2px 2px;
	z-index: 300;
}

.gridDragLine {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: black;
	overflow: hidden;
}

/*paginal output*/
DIV.pagingBlock {
	font-size: 12px;
}

DIV.pagingBlock .pagingCurrentPage {
	font-weight: bold;
	cursor: default;
}

DIV.pagingBlock .pagingPage {
	cursor: pointer;
	text-decoration: underline;
}

SPAN.recordsInfoBlock {
	font-size: 12px;
}

DIV.pagingBlock a {
	text-decoration: none;
	padding-right: 2px;
	color: black;
}

/*class for toolbar selectbox. used with pagingWT*/
.toolbar_select {
	font-size: 10px;
}

/*block selection style*/
.dhtmlxGrid_selection {
	-moz-opacity: 0.5;
	/*filter: alpha(opacity =   50);*/
	background-color: yellow;
	opacity: 0.5;
	border: 1px dotted black;
}

div.gridbox div.ftr {
	position: absolute;
	left: 0px;
	bottom: 1px;
	width: 100%;
	padding-right: 20px;
	overflow: hidden;
}

div.gridbox div.ftr td {
	padding: 0px;
	padding-left: 10px;
	padding-right: 5px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	background-color: #ffffcc;
	font-style: italic;
	overflow: hidden;
}

div.gridbox table.hdr td.columnTargetR div.hdrcell {
	border-right: 3px double #FF6600;
	border-left: 3px solid #D4D0C8;
}

div.gridbox table.hdr td.columnTargetL div.hdrcell {
	border-right: 3px solid #D4D0C8;
	border-left: 3px double #FF6600;
}

.dhx_dragColDiv {
	font-size: 12px;
	background-color: #D4D0C8;
	border: 1px solid;
	border-color: white Gray Gray white;
	text-align: center;
	margin: 0px;
	padding: 5px 20px 5px 20px;
	font-weight: normal;
	/*filter: alpha(opacity : 75);*/
	-moz-opacity: 0.75;
	opacity: 0.75;
}

/*braldahim*/
div.gridbox_braldahim .objbox {
	background-color: #003b00;
	color: #000000;
}

div.gridbox_braldahim {
	color: #232323;
}

div.gridbox_braldahim {
	margin-left: 1px;
}

div.gridbox_braldahim .xhdr {
	border: 1px solid #000000;
	background-color: #5d8231;
	text-align: center;
}

div.gridbox_braldahim .xhdr_last {
	border: 1px solid #000000;
}

div.gridbox_braldahim table.hdr {
	text-align: center;
}

div.gridbox_braldahim table.hdr td {
	border: 0px solid;
	border-color: #000000;
	background-color: transparent;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}

div.gridbox_braldahim table.hdr td div.hdrcell {
	width: auto;
	padding-left: 10px;
}

div.gridbox_braldahim table.hdr .filter {
	padding-left: 0px !important;
	text-align: center;
	-moz-user-select: text;
}

div.gridbox_braldahim table.obj td {
	border-width: 0px 1px 0px 0px;
	border-left: 0px solid white;
	border-right: 0px solid #000000;
	font-size: 13px;
	padding-right: 4px;
	padding-left: 4px;
	white-space: normal;
}

div.gridbox_braldahim table.obj {
	border: 1px solid #000000;
	background-color: #C3E691;
}

div.gridbox_braldahim table.row20px tr td {
	padding-right: 4px;
	padding-left: 4px;
	white-space: normal;
}

div.gridbox_braldahim .dhx_combo_edit {
}


div.gridbox_braldahim .odd_braldahim {
	background-color: #628b28;
	white-space: normal;
}

div.gridbox_braldahim div.ftr td {
	empty-cells: show;
}

/*
lightbox
*/

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 1100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(/images/lightbox/prevlabel.png) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(/images/lightbox/nextlabel.png) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }


.bralbutton > span {
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}

.bralbutton {
    /*background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;*/
     background: -moz-linear-gradient(45deg,#003b00,#5d8035);
    background: -webkit-gradient(linear, left bottom, right top, from(#003b00), to(#5d8035));
    
    border: 1px solid #D4D4D4;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 0 0 0 3px;
    text-shadow: 1px 1px 0 #000000;
    white-space: nowrap;
    
    
    padding: 5px;
	font-weight: bolder;
	margin: 0.0em;
	color: #f0ae21;
	font-variant: small-caps;
	letter-spacing: 2pt;
}

.braltexte:first-letter {
    float: left;
    font-size: 30px;
    margin: 7px 5px 0 0;
    vertical-align: text-top;
    font-family: PerryGothic;
}

.braltexte, .braltexte2 {
    line-height: 20px;
    text-align: justify;
    word-spacing: 3px; 
    color: #CCCCCC;  
}

.braltexte a {
    color: #CCCCCC;  
}

.braltextefonce {
	 color: #333333;  
}

@font-face {
    font-family: "PerryGothic";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("/fonts/PERRYGOT.TTF") format("truetype");
}

@font-face {
    font-family: "Essays 1743";
    src: url("/fonts/essays1743-webfont.woff") format('woff'),
         url("/fonts/essays1743-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LinuxLibertineRegular';
    src: url("/fonts/linlibertine_re-4.7.5-webfont.woff") format('woff'),
         url("/fonts/linlibertine_re-4.7.5-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

