/* Bordures top */
.xb_t1,.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_t1,.xb_t2 {
	height: 1px;
}

.xb_t3,.xb_t4,.xb_t5,.xb_t6 {
	height: 1px;
}

.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_t3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}
.xb_t2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_t1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_t2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_t3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_t4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_t5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_t6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_t7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}

/* Bordures bottom */
.xb_b1,.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_b1,.xb_b2 {
	height: 1px;
}

.xb_b3,.xb_b4,.xb_b5,.xb_b6 {
	height: 1px;
}

.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_b3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}
.xb_b2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_b1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_b2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_b3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_b4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_b5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_b6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_b7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}


.box_authentification {
	width: 340px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
}

.contenu {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.contenuA,.contenuB {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.contenuC {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}


.box_contenu3 {
	text-align: left;
}

.titre {
	padding: 0px;
	font-weight: bolder;
	margin: 0.0em;
	color: #791E1E;
	font-variant: small-caps;
	letter-spacing: 2pt;
}

.textsizea {
	font-size: 2em;
}

.textsizeb {
	font-size: 1.4em;
}

.textsizec {
	font-size: 1.2em;
}

.textsized {
	font-size: 1.1em;
	letter-spacing: 1pt;
}

.textalia {
	text-align: left;
}

.textalib {
	text-align: right;
}

.textalic {
	text-align: center;
}

.box_titre1, .comp_titre {
	padding: 0px;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
	color: #791E1E;
	font-size: 1.4em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

.box_chargement {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 60px;
	valign: center;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 0px;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

.box_info {
	background-color: #CCCC99;
	color: red;
	font-weight: bold;
}

.menu_classic {
	float: left;
}

.menu_date_heure {
	float: right;
}

.menu_deconnexion {
	background-color: #CCCC99;
	float: right;
}

.menu_deconnexion:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.box_informations {
	width: auto;
	height: auto;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #990000;
	background-color: #d9ffd6;
	color: black;
	font-weight: bold;
	padding: 5pt 5px;
}

.box_inscription,.box_perdu,.box_pamaretres,.box_gardiennage,.box_administration
	{
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
}

.box_messagerie_menu {
	position: absolute;
	color: black;
	width: 250px;
	height: auto;
	text-align: center;
	z-index: 10;
}

.box_administration {
	width: auto;
}

.box_menu {
	top: 0px;
	left: 0px;
	background-color: #ffd363;
	color: black;
	border-style: dashed;
	border-width: 1px;
	margin-left: 1px;
	width: 99.5%;
	height: auto;
	text-align: left;
}

.box_action {
	width: auto;
	height: auto;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #990000;
	background:#FFFFFF url(/public/styles/braldahim_defaut/images/layout/gris.png) repeat-x scroll 0pt 100%;
	color: black;
	font-weight: bold;
	padding: 5pt 5px;
}

.box_erreur {
	background-color: red;
	color: black;
	text-align: center;
	width: auto;
	height: auto;
}

.box_competences_basiques,.box_metier,.box_competences_communes,.box_competences_metiers 
	      , .box_equipement,.box_profil,.box_vue,.box_lieu,.box_laban,.box_messagerie,.box_famille
	      , .box_communaute
{
	color: black;
	height: auto;
	text-align: center;
	z-index: 10;
	background:#transparent none repeat scroll 0% 0%;
}

.inner { /* extérieur de boite */
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background:#e7c57b repeat-x scroll 0pt 0%;
}

.inner_top { /* Intérieur de la boite pour le bandeau haut*/
	height:30px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background:#e7c57b repeat-x scroll 0pt 0%;
}

.inner_bot { /* Intérieur de la boite pour le bandeau bas */
	height:30px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background:#e7c57b repeat-x scroll 0pt 0%;
	text-align: center;
}

.box_contenu1 { /* intérieur de la boite */ 
	background:#FADC9B repeat-x scroll 0pt 0%;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Clair {
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Fonce {
	background-color: #ffd363;
	padding: 0px;
	margin: 0px;
}

.laban_plante {
	background-color: #eeeeee;
}

.barre_faim,.barre_vie {
	background-color: #FFFFFF;
	width: 100px;
	height: 10px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 60px;
	border-color: #6f5f6f;
}

.ligne_espace {
	padding: 2px 0pt;
}

.action_ok {
	background-color: #99FFCC;
}

.action_ko {
	background-color: #FF9966;
}

.rune {
	width:40px;
}

.joaillier_runes {
	border: 1px solid #000;
	color: #000;
	background-color: #eeeeee;
	height:auto;
	vertical-align:center;
}


table.equipement {
	border-style : solid;
	border: solid #777;
	border-spacing: 1;
	border-width: 0.0pt;
}

td.equipement {
	border-style : solid;
	border-color: #eeeeee;
	border-spacing: 1;
	border-width: 0.1pt;
	vertical-align: top;
	background: #CCCC99 none repeat-x scroll 0pt;
}


table.table_liste {
	border:1px solid #791E1E;
	border-collapse:collapse;
	width:70%;
	margin:auto;
	align:center;
}
thead.table_liste, tfoot.table_liste {
	background-color:#CCCC99;
	border:1px solid #791E1E;
	cursor:pointer;
}
tbody.communaute_membres {
	border:1px solid #791E1E;
}
th.table_liste {
	padding:5px;
	background-color:#791E1E;
	width:25%;
}

tr.table_liste0 {
	background:#e7c57b;
}

tr.table_liste1 {
	background:#;
}

td.table_liste {
	padding:5px;
	text-align:center;
}

