* html span.corners-top, * html span.corners-bottom {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_left.gif);
}
* html span.corners-top span, * html span.corners-bottom span {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_right.gif);
}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	background-repeat:no-repeat;
	display:block;
	font-size:1px;
	height:5px;
	line-height:1px;
}
span.corners-top {
	background-image:none;
	background-position: 0pt 0%;
	margin:0pt -5px;
}
span.corners-top span {
	background-image:none;
	background-position:100% 0pt;
}
span.corners-bottom {
	background-image:none;
	background-position:0pt 100%;
	clear:both;
	margin:0pt -5px;
}
span.corners-bottom span {
	background-image:none;
	background-position: 100% 100%;
}

span.corners-top {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_left.png);
}
span.corners-top span {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_right.png);
}
span.corners-bottom {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_left.png);
}
span.corners-bottom span {
	background-image:url(/public/styles/braldahim_defaut/images/layout/corners_right.png);
}

.box_corners {
	background:#CCCC99 none repeat-x scroll 0pt;
	padding:0pt 5px;
	color: black;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.box_authentification {
	width: 340px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
}

.contenu {
	border-style: dashed;
	border-width: 1px;
	border-color: #791E1E;
}

.box_contenu1 {
	background-color: #ffd363;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Clair {
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Fonce {
	background-color: #ffd363;
	padding: 0px;
	margin: 0px;
}

.box_contenu3 {
	text-align: left;
}

.titre {
	padding: 0px;
	font-weight:bolder;
	margin:0.0em;
	color:#791E1E;
	font-variant:small-caps;
	letter-spacing:2pt;
}

.textsizea {
	font-size:2em;
}

.textsizeb {
	font-size:1.4em;
}

.textsizec {
	font-size:1.2em;
}

.textsized {
	font-size:1.1em;
	letter-spacing:1pt;
}

.textalia{
	text-align:left;
}
.textalib{
	text-align:right;
}
.textalic{
	text-align:center;
}

.box_titre1 {
	color: #003300;
	padding: 0px;
	font-weight:bolder;
	margin-top:0.5em;
	text-align:left;
	color:#791E1E;
	font-size:1.4em;
	font-variant:small-caps;
	letter-spacing:2pt;
	text-decoration:none;
}

.box_chargement {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 60px;
	valign: center;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	background-color: #eeeeee;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

.box_info {
	background-color: #CCCC99;
	color: red;
	font-weight: bold;
}

.menu_classic {
	float: left;
}

.menu_date_heure {
	float: right;
}

.menu_deconnexion {
	background-color: #CCCC99;
	float: right;
}

.menu_deconnexion:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.menu_lien {
	background-color: #CCCC99;
}

.menu_lien:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.box_informations {
	background-color: #d9ffd6;
	color: black;
	position: absolute;
	text-align: center;
	z-index: 1000;
	top: 85%;
	left: 40%;
	width: 400px;
	margin-top: -10px;
	margin-left: -110px;
	border: thin solid black;
	z-index: 1000;
}

.box_inscription,.box_perdu,.box_pamaretres,.box_gardiennage,.box_administration
{
#	background-color: #ffd363;
#	color: black;
#	border-style: dashed;
#	border-width: 1px;
#	width: 500px;
#	height: auto;
#	margin-left: auto;
#	margin-right: auto;
#	margin-top: 20px;
#	text-align: center;
	
	width: 500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	text-align: center;
}

.box_administration {
	width: 700px;
}

.box_menu {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ffd363;
	color: black;
	border-style: dashed;
	border-width: 1px;
	margin-left: 1px;
	width: 99.5%;
	height: auto;
	text-align: left;
}

.box_action {
	position: absolute;
	left: 50%;
	bottom: 0%;
	width: auto;
	height: auto;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #990000;
	background-color: #eeeeee;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

.box_erreur {
	background-color: red;
	color: black;
	position: absolute;
	text-align: center;
	z-index: 1000;
}

.box_competences_basiques,.box_metier,.box_competences_communes,.box_competences_metiers 
	  , .box_equipement,.box_profil,.box_vue,.box_lieu,.box_laban {
	position: absolute;
	color: black;
	width: 230px;
	height: auto;
	text-align: center;
	z-index: 10;
}

.inner{
	background:#CCCC99 none repeat-x scroll 0pt;
	padding:0pt 5px;
}
	
.box_competences_basiques,.box_metier,.box_competences_communes,.box_competences_metiers
{
	position: relative;
	height: 200px;
	overflow: auto
}

.box_equipement {
	position: relative;
	height: 250px;
	overflow: auto
}

.box_laban {
	position: relative;
	height: 300px;
	width: auto;
	overflow: auto;
}

.laban_plante {
	position: relative;
	height: 100px;
	width: 400px;
	overflow: auto;
	background-color: #eeeeee;
}

.box_metier {
	position: relative;
	height: 250px;
	overflow: auto
}

.box_profil {
	position: relative;
	height: auto;
	overflow: auto
}

.box_vue {
	width: 650px;
}

.box_lieu {
	position: relative;
	height: 400px;
	width: auto;
	overflow: auto;
}

.barre_faim,.barre_vie {
	background-color: #FFFFFF;
	width: 100px;
	height: 10px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 60px;
	border-color: #6f5f6f;
}

.ligne_espace {
padding: 2px 0pt;
}