.boite_a, .boite_b, .boite_c {
  margin-top:10px;
  width: auto;
}

.onglet {
  border-style : solid;
  border-color : #791E1E;
  border-width: 1px;
  margin: 2px;
  margin-left: 10px;
}

.onglet.actif {
  background-color : #e7c57b;
  border-bottom-color : transparent;
}

.onglet.inactif {
  background-color : #FADC9B;
}

.onglet:hover {
  background-color : #ffd363;
  cursor: pointer;
}