.boite_a, .boite_b, .boite_c {
  margin-top:10px;
  width: auto;
}

.onglet {
  border-style : solid;
  border-color : #999999;
  border-width: 1px;
  margin: 2px;
  margin-left: 10px;
}

.onglet.actif {
  background-color : #CCCC99;
}

.onglet.inactif {
  background-color : #eeeeee;
}

.onglet:hover {
  background-color : #ffd363;
  cursor: pointer;
}