/* ************************************************ */
/* ********************** SITE ******************** */
/* ************************************************ */

* {
	font: 11px arial, verdana, sans-serif;
	letter-spacing: 0pt;
}

body {
	font: 11x arial, verdana, sans-serif;
	background: #C3E691
		url(/public/styles/braldahim_defaut/images/layout/fond.png) repeat-x
		scroll 0pt 0pt;
	letter-spacing: 0pt;
	background-position: center top;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	position: absolute;
	float: left;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
}

#logo a:link,#logo a:visited,#logo a:hover,#logo a:active {
	color: #791E1E;
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

#logo a:hover,#logo a:active {
	color: #a92929;
}

input {
	margin: 2px 2pt;
	background: #C3E691 none repeat-x scroll center top;
	color: #791E1E;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	padding-bottom: 1px;
	padding-top: 2px;
	width: auto !important;
	border: 1px solid #666666;
}

input:focus {
	border: 1px solid #791E1E;
	color: #791E1E;
}

input:hover {
	border: 1px solid #791E1E;
	color: #cc0000;
}

* html input.button1 {
	margin-bottom: 1px;
	padding-bottom: 0pt;
}

input.button1 {
	background-color: #FAFAFA;
	background-image:
		url(/public/styles/braldahim_defaut/images/layout/bg_button.gif);
	color: #000000;
	border-color: #666666;
	font-size: 1em;
	border: 1px solid #666666;
}

input.button1:hover {
	border-color: #791E1E;
	color: #791E1E;
	cursor: pointer;
}

input.button1:active {
	color: #000000;
}

input.button1:disabled {
	background-position: 0pt 100%;
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
}

.racine_gauche,.racine_milieu,.racine_droite {
	top: 10px;
	float: left;
	padding: 10px;
}

a,.alabel {
	color: #791E1E;
	text-align: center;
}

a:hover,.alabel:hover {
	color: #cc0000;
	cursor: pointer;
}

span.id_hobbit {
	color: red;
}

#navigation {
	background-color: #FADC9B;
	border: 3px solid #FADC9B;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	width: 200px;
}

#navigation h3.head {
	background: #e7c57b url(/public/images/collapsed.gif) no-repeat scroll
		3px 4px;
	border: 1px solid #FADC9B;
	color: #791E1E;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	text-indent: 14px;
}

#navigation h3.head:hover {
	color: #000000;
}

#navigation h3.selected {
	background-image: url(/public/images/expanded.gif);
}

#navigation h3.current {
	background-color: #FFFF99;
}

#navigation ul {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

#navigation li {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

#navigation li li h3 {
	color: #000000;
	display: block;
	text-decoration: none;
	text-indent: 10px;
}

#navigation li li h3:hover {
	background-color: #FFFF99;
	color: #FF0000;
}

/* ************************************************ */
/* ********************** Onglets ***************** */
/* ************************************************ */
.boite_a,.boite_b,.boite_c {
	margin-top: 10px;
	width: auto;
}

.boite_a,.boite_b {
	margin-top: 10px;
	width: 365px;
}

.onglet {
	border-style: solid;
	border-color: #791E1E;
	border-width: 1px;
	margin: 2px;
	margin-left: 8px;
}

.onglet.actif {
	background-color: #e7c57b;
	border-bottom-color: transparent;
}

.onglet.inactif {
	background-color: #FADC9B;
}

.onglet:hover {
	background-color: #ffd363;
	cursor: pointer;
}

/* ************************************************ */
/* ********************** Box *********************** */
/* ************************************************ */

/* Bordures top */
.xb_t1,.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_t1,.xb_t2 {
	height: 1px;
}

.xb_t3,.xb_t4,.xb_t5,.xb_t6 {
	height: 1px;
}

.xb_t2,.xb_t3,.xb_t4,.xb_t5,.xb_t6,.xb_t7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_t3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_t2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_t1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_t2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_t3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_t4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_t5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_t6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_t7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}

/* Bordures bottom */
.xb_b1,.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	display: block;
	font-size: 0pt;
	overflow: hidden;
}

.xb_b1,.xb_b2 {
	height: 1px;
}

.xb_b3,.xb_b4,.xb_b5,.xb_b6 {
	height: 1px;
}

.xb_b2,.xb_b3,.xb_b4,.xb_b5,.xb_b6,.xb_b7 {
	background: #CCCCCC none repeat scroll 0%;
	border-left: 1px solid #791E1E;
	border-right: 1px solid #791E1E;
}

.xb_b3 {
	border-left: 2px solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_b2 {
	border-left: 2x solid #791E1E;
	border-right: 2px solid #791E1E;
}

.xb_b1 {
	background: #791E1E none repeat scroll 0%;
	margin: 0pt 5px;
	height: 1px;
}

.xb_b2 {
	background: #e7c57b none repeat scroll 0%;
	height: 0px;
	margin: 0pt 5px;
}

.xb_b3 {
	background: #e7c57b none repeat scroll 0%;
	height: 1px;
	margin: 0pt 3px;
}

.xb_b4 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 2px;
}

.xb_b5 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 1px;
	margin: 0pt 1px;
}

.xb_b6 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 1px;
	height: 0px;
	margin: 0pt 1px;
}

.xb_b7 {
	background: #e7c57b none repeat scroll 0%;
	border-width: 0pt 2x;
	height: 1px;
	margin: 0pt 1px;
}

.box_authentification, .box_pub_login {
	width: 340px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
}

.box_pub_login {
	width: 300px;
}

.box_infos_jeu {
	width: 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
}

.contenu {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.contenuA,.contenuB {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.contenuC {
	border-width: 0px;
	border-color: #791E1E;
	height: auto;
}

.box_contenu3 {
	text-align: left;
}

.titre {
	padding: 0px;
	font-weight: bolder;
	margin: 0.0em;
	color: #791E1E;
	font-variant: small-caps;
	letter-spacing: 2pt;
}

.textsizea {
	font-size: 2em;
}

.textsizeb {
	font-size: 1.4em;
}

.textsizec {
	font-size: 1.2em;
}

.textsized {
	font-size: 1.1em;
	letter-spacing: 1pt;
}

.textalia {
	text-align: left;
}

.textalib {
	text-align: right;
}

.textalic {
	text-align: center;
}

.box_titre1,.comp_titre {
	padding: 0px;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
	color: #791E1E;
	font-size: 1.4em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

.box_chargement {
	position: absolute;
	width: 200px;
	height: 60px;
	valign: center;
	margin-left: -110px;
	margin-top: -100px;
	text-align: center;
	border-width: 0px;
	color: black;
	font-weight: bold;
	z-index: 1000;
}

.box_info {
	background-color: #CCCC99;
	color: red;
	font-weight: bold;
}

.menu_classic {
	float: left;
}

.menu_date_heure {
	float: right;
}

.menu_deconnexion {
	background-color: #CCCC99;
	float: right;
}

.menu_deconnexion:hover {
	background-color: #ffd363;
	cursor: pointer;
}

.box_informations {
	width: auto;
	height: auto;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #eeeeee;
	background-color: #d9ffd6;
	color: black;
	font-weight: bold;
	padding: 5pt 5px;
}

.box_inscription,.box_perdu,.box_parametres,.box_gardiennage,.box_administration
	{
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	position: relative;
}

.box_messagerie_menu {
	position: absolute;
	color: black;
	width: 250px;
	height: auto;
	text-align: center;
	z-index: 10;
}

.box_administration {
	width: auto;
}

.box_menu {
	top: 0px;
	left: 0px;
	background-color: #ffd363;
	color: black;
	border-style: dashed;
	border-width: 1px;
	margin-left: 1px;
	width: 99.5%;
	height: auto;
	text-align: left;
}

.box_action {
	width: auto;
	height: auto;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #990000;
	background: #FFFFFF
		url(/public/styles/braldahim_defaut/images/layout/gris.png) repeat-x
		scroll 0pt 100%;
	color: black;
	font-weight: bold;
	padding: 5pt 5px;
}

.box_erreur {
	background-color: red;
	color: black;
	text-align: center;
	width: auto;
	height: auto;
}

.box_competences_basiques,.box_metier,.box_competences_communes,.box_competences_metiers 
	       , .box_equipement,.box_profil,.box_vue,.box_lieu,.box_laban,.box_messagerie,.box_famille,.box_effets
	       , .box_communaute, .box_soule,.box_coffre,.box_quetes {
	color: black;
	height: auto;
	text-align: center;
	z-index: 10;
	background: #transparent none repeat scroll 0% 0%;
}

.inner { /* exterieur de boite */
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
}

.inner_top { /* Interieur de la boite pour le bandeau haut*/
	height: 35px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
	text-align: top;
}

.inner_bot { /* Interieur de la boite pour le bandeau bas */
	height: 30px;
	padding: 1pt 10px;
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
	text-align: center;
}

.box_contenu1 { /* interieur de la boite */
	background: #FADC9B repeat-x scroll 0pt 0%;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Clair {
	background-color: #eeeeee;
	padding: 0px;
	margin: 0px;
}

.box_contenu2Fonce {
	background-color: #ffd363;
	padding: 0px;
	margin: 0px;
}

.laban_plante {
	background-color: #eeeeee;
}

.barre_faim,.barre_vie, .barre_niveau, .barre_poids {
	background-color: #FFFFFF;
	width: 200px;
	height: 10px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 10px;
	border-color: #6f5f6f;
}

.barre_tour_sommeil,.barre_tour_eveil,.barre_tour_activite {
	background-color: #FFFFFF;
	height: 10px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	margin-left: 0px;
	border-color: #6f5f6f;
}

.barre_tour_sommeil {
	width:50px;
}

.barre_tour_eveil {
	width: 50px;
}

.barre_tour_activite {
	width: 100px;
}

.ligne_espace {
	padding: 2px 0pt;
}

.action_ok {
	background-color: #99FFCC;
}

.action_ko {
	background-color: #FF9966;
}

.rune {
	width: 40px;
}

.joaillier_runes {
	border: 1px solid #000;
	color: #000;
	background-color: #eeeeee;
	height: auto;
	vertical-align: center;
}

table.equipement {
	border-style: solid;
	border: solid #777;
	border-spacing: 1;
	border-width: 0.0pt;
}

td.equipement {
	border-style: solid;
	border-color: #eeeeee;
	border-spacing: 1;
	border-width: 0.1pt;
	vertical-align: top;
	background: #CCCC99 none repeat-x scroll 0pt;
}

table.table_liste {
	border: 1px solid #791E1E;
	border-collapse: collapse;
	width: 70%;
	margin: auto;
	align: center;
}

thead.table_liste,tfoot.table_liste {
	background-color: #CCCC99;
	border: 1px solid #791E1E;
	text-align: center;
}

tbody.communaute_membres {
	border: 1px solid #791E1E;
}

th.table_liste {
	padding: 5px;
	background-color: #791E1E;
	width: 25%;
	text-align: center;
}

tr.table_liste0 {
	background: #e7c57b;
}

tr.table_liste1 {
	background: #;
}

td.table_liste_border {
	border: 1px solid #791E1E;
}

td.table_liste {
	padding: 5px;
	text-align: center;
}

/* ************************************************ */
	/* ******************* Competence ***************** */
	/* ************************************************ */
.comp_titre {
	margin: 3px;
	text-align: center;
}

.comp_marcher_position {
	border: 1px solid #000000;
	width: 200px;
}

.comp_marcher_position_td {
	border: 1px dashed #CCCC99;
}

/* ************************************************ */
/* ********************* Message ****************** */
/* ************************************************ */
.message_erreur {
	background-color: #FF6666;
	color: black;
	text-align: center;
}

/* ************************************************ */
/* ******************** ModalBox ****************** */
/* ************************************************ */
#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #EFEFEF !important;
}

#MB_overlay[id] {
	position: fixed;
}

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: center;
	z-index: 10000;
}

#MB_window[id] {
	position: absolute !important;
}

#MB_frame {
	position: relative;
	background-color: #EFEFEF;
	height: 100%;
}

#MB_header {
	margin: 0;
	padding: 0;
}

#MB_content {
	padding: 6px .75em;
	overflow: auto;
}

#MB_caption {
	font: bold 85% "Lucida Grande", Arial, sans-serif;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em 0 .75em;
	margin: 0;
	text-align: left;
}

#MB_close {
	display: block;
	position: absolute;
	right: 5px;
	top: 4px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

#MB_close :hover {
	background: transparent;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url('/public/images/spinner.gif') 50% 0
		no-repeat;
}

/* Color scheme */
#MB_frame {
	padding-bottom: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#MB_window {
	background-color: #EFEFEF;
	color: #000;
	-webkit-box-shadow: 0 8px 64px #000;
	-moz-box-shadow: 0 0 64px #000;
	box-shadow: 0 0 64px #000;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#MB_content {
	border-top: 1px solid #F9F9F9;
}

#MB_header {
	background-color: #e7c57b;
	border-bottom: 1px solid #791E1E;
}

#MB_caption {
	color: #791E1E
}

#MB_close {
	color: #777
}

#MB_close :hover {
	color: #000
}

/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}

/* ************************************************ */
	/* *********************** Popup ****************** */
	/* ************************************************ */
.popup_fg { #
	background: #FFFFFF
		url(/public/styles/braldahim_defaut/images/layout/gris.png) repeat-x
		scroll 0pt 100%;
	background: transparent;
}

.popup_bg {
	background: transparent
}

.popup_text {
	color: #000000;
}

.popup_caption {
	color: #FADC9B;
	font-weight: bold;
}

.popup_close A:link {
	text-decoration: none;
	color: #FADC9B;
}

.popup_close A:visited {
	text-decoration: none;
	color: #FADC9B;
}

.popup_close A:active {
	text-decoration: none;
	color: #FADC9B;
}

.popup_close A:hover {
	text-decoration: underline;
	color: #cc0000;
}

/* (C) 2007 YOOtheme.com */
div.yoo-tooltip-toggler {
	cursor: pointer;
}

div.yoo-tooltip div.yoodefault .tooltip-tl {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_tl.png)
		0 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-tr {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_tr.png)
		100% 7pt no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-t {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_t.png)
		0 7pt repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-l {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_l.png)
		0 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-r {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_r.png)
		100% 7pt repeat-y;
}

div.yoo-tooltip div.yoodefault .tooltip-m {
	background: #ffffff;
	padding: 10px 0px 0px 0px;
	overflow: hidden;
}

div.yoo-tooltip div.yoodefault .tooltip-bl {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_bl.png)
		0 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-br {
	padding: 0px 15px 0px 15px;
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_br.png)
		100% 0 no-repeat;
}

div.yoo-tooltip div.yoodefault .tooltip-b {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_b.png)
		0 0 repeat-x;
}

div.yoo-tooltip div.yoodefault .tooltip-arrow {
	background:
		url(/public/styles/braldahim_defaut/images/layout/popup/bubble_arrow.png)
		50% 0 no-repeat;
}

/* ************************************************ */
/* ******************* Recherche ****************** */
/* ************************************************ */
/* Autocompletion */
.recherche {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 0px solid #888;
	margin: 0px;
	padding: 0px;
}

ul.resultats {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

ul.resultats li.selected {
	background-color: #ffb;
	cursor: pointer;
}

li.resultat {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	height: 12px;
}

li.resultat div.image {
	float: left;
	width: 32px;
	height: 15px;
	margin-right: 8px;
}

li.resultat div.nom {
	font-weight: bold;
	font-size: 15px;
	line-height: 1.2em;
}

/* ************************************************ */
	/* ************************* Vue ****************** */
	/* ************************************************ */
table.vue2d {
	border: solid #777;
	text-align: center;
	#background-color: #eeeeee;
	border-spacing: 1;
	border-width: 1pt;
}

td.vue2d {
	border-style: solid;
	border-color: #eeeeee;
	border-spacing: 0;
	border-width: 0.0pt;
	font-size: 7pt;
	vertical-align: top;
	horizontal-align: center;
	width: 64px;
	height: 64px;
}

td.vue2d.plaine {
	#background-color: rgb(173, 186, 140);
	background: url('/public/styles/braldahim_defaut/images/vue/plaine.png') repeat;
}

td.vue2d.gazon {
	#background-color: #99AA4A;
	background: url('/public/styles/braldahim_defaut/images/vue/gazon.png') repeat;
}

td.vue2d.foret {
	#background-color: #7E9E50;
	background: url('/public/styles/braldahim_defaut/images/vue/foret.png') repeat;
}

td.vue2d.marais {
	#background-color: #6699cc;
	background: url('/public/styles/braldahim_defaut/images/vue/marais.png') repeat;
}

td.vue2d.montagne {
	#background-color: #f5f5f5;
	background: url('/public/styles/braldahim_defaut/images/vue/montagne.png') repeat;
}

td.vue2d.caverne {
	#background-color: #666600;
	background: url('/public/styles/braldahim_defaut/images/vue/inconnu.png') repeat;
}

td.vue2d.route {
	background: url('/public/styles/braldahim_defaut/images/vue/route.png') repeat;
}

td.vue2d.terrasse {
	background: url('/public/styles/braldahim_defaut/images/vue/terrasse.png') repeat;
}

td.vue2d.palissade {
	background: url('/public/styles/braldahim_defaut/images/vue/palissade.png') repeat;
}

td.vue2d.inconnu {
	#background-color: grey;
	background: url('/public/styles/braldahim_defaut/images/vue/inconnu.png') repeat;
}

.vue2d_case_num {
	text-align: right;
	font-size: 7pt;
	color: #e0ffe0;
	#background-color: #6f5f6f;
	height:0.5px;
	position:relative;
	top : -7px;
}

td.vue2d.actuelle {
	border-width: 2px; 
	border-style: solid;
	border-color:#ff6666;
}

#modalPage {
    display: none;
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 0px; left: 0px;
}
.modalBackground {
    filter: Alpha(Opacity=40); -moz-opacity:0.0; opacity: 0.0;
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
}
.modalContainer {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 20%;
    z-index: 750;
}
.modal {
    background-color: white;
    border: solid 4px black; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    padding: 0px;
}
.modalTop {
    width: 292px;
    background-color: #000099;
    padding: 4px;
    color: #ffffff;
    text-align: right;
}
.modalTop a, .modalTop a:visited {
    color: #ffffff;
}
.modalBody {
    padding: 10px;
}

/* ************************************************ */
/* ********************** Menu *********************** */
/* ************************************************ */


#menu {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(/public/images/menu-fond.gif) repeat-x scroll 0 0;*/
	border-color: #791E1E;
	border-style: solid;
	border-width: 0pt 1px;
	display: block;
	background: #e7c57b repeat-x scroll 0pt 0%;
}
#menu ul {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	/*background:transparent url(public/images/menuul.gif) no-repeat scroll 0 0; */
	height:31px;
	list-style-type:none;
	margin:0 auto;
	padding:1 50px;
	text-align:center;
	width:640px;
}
#menu li {
	background-repeat:no-repeat;
	float:left;
}
#menu li a {
	float:left;
	font-size:0;
	text-indent:-9999em;
}
#menu li.accueil a {
	background-image:url(/public/images/menu.gif);
	background-position: 0 0;
	height:31px;
	width:110px;
}
#menu li.accueil a:hover {
	background-image:url(/public/images/menu.gif);
	background-position: 0 -31px;
	height:31px;
	width:110px;
}
#menu li.jouer a {
	background-image:url(/public/images/menu.gif);
	background-position:-110px 0;
	height:31px;
	width:85px;
}
#menu li.jouer a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-110px -31px;
}
#menu li.bourg a {
	background-image:url(/public/images/menu.gif);
	background-position:-190px 0;
	height:31px;
	width:110px;
}
#menu li.bourg a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-190px -31px;
	height:31px;
}
#menu li.forums a {
	background-image:url(/public/images/menu.gif);
	background-position:-300px 0;
	height:31px;
	width:95px;
}
#menu li.forums a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-300px -31px;
}
#menu li.regles a {
	background-image:url(/public/images/menu.gif);
	background-position:-390px 0;
	height:31px;
	width:95px;
}
#menu li.regles a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-390px -31px;
	height:31px;
}
#menu li.projet a {
	background-image:url(/public/images/menu.gif);
	background-position:-490px 0;
	height:31px;
	width:106px;
}
#menu li.projet a:hover {
	background-image:url(/public/images/menu.gif);
	background-position:-490px -31px;
}

#header-logo {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	height:50px;
	position:relative;
}
#header-logo h1 {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/public/images/logo.png) no-repeat scroll 0 0;
	font-size:1px;
	font-weight:normal;
	height:50px;
	margin:0;
	padding:0;
	text-indent:-999em;
	width:550px;
}
#header-logo h1 a {
	display:block;
	height:100%;
	text-decoration:none;
	width:100%;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("/public/images/rss.png") no-repeat 0 50%;
} 