/* ************************************************ */
	/* ********************** SITE ******************** */
	/* ************************************************ */
* {
	letter-spacing: 0pt;
}

body {
	font: 15px arial, verdana, sans-serif;
	background: #003b00;
	letter-spacing: 0pt;
	background-position: center top;
	margin: 0;
	 overflow: hidden;
    -webkit-text-size-adjust: none;
}

input {
	margin: 2px 2pt;
	background: #C3E691 none repeat-x scroll center top;
	color: #791E1E;
	font: 13px arial, verdana, sans-serif;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	margin: 6px 0 0 0;
    padding: 14px 14px 14px 44px;
	width: auto !important;
	border: 1px solid #666666;
}

.box_authentification {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#wrappermobile {
	background:#003b00;
	height:auto;
	min-height:480px;
	margin-top: 0px;
	width:auto;
}

#frisetopvidemobile {
	background:#003b00;
}

.onglet {
	font: 22px arial, verdana, sans-serif;
	margin:0px;
}


.boite_m {
	margin-top: 5px;
	width: auto;
}