@import "box.css";

@import "box_onglets.css";

@import "competences.css";

@import "messages.css";

@import "popup.css";

@import "vue.css";

@import "recherche.css";

* {
	font: 11px arial, verdana, sans-serif;
	letter-spacing: 0pt;
}

body {
	font: 11x arial, verdana, sans-serif;
	//background-color: #6EA028; background-position : center top;
	background:#C3E691 url(/public/styles/braldahim_defaut/images/layout/fond.png) repeat-x scroll 0pt 0pt;
	letter-spacing: 0pt;
	background-position: center top;
	margin-top : 0;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	position: absolute;
	float: left;
	font-weight: bolder;
	margin-top: 0.5em;
	text-align: left;
}

#logo a:link,#logo a:visited,#logo a:hover,#logo a:active {
	color: #791E1E;
	font-size: 2em;
	font-variant: small-caps;
	letter-spacing: 2pt;
	text-decoration: none;
}

#logo a:hover,#logo a:active {
	color: #a92929;
}

input {
	margin: 2px 2pt;
	background: #FAFAFA none repeat-x scroll center top;
	color: #000000;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	padding-bottom: 1px;
	padding-top: 2px;
	width: auto !important;
	border: 1px solid #666666;
}

input:active {
	color: #000000;
	text-decoration: none;
}

input:focus {
	border: 1px dashed #000;
	color: #00339A;
	background-color: white;
}

input:hover {
	border: 1px solid #000;
	color: #00339A;
	background-color: white;
}

* html input.button1 {
	margin-bottom: 1px;
	padding-bottom: 0pt;
}

input.button1 {
	background-color: #FAFAFA;
	background-image:
		url(/public/styles/braldahim_defaut/images/layout/bg_button.gif);
	color: #000000;
	border-color: #666666;
	font-size: 1em;
	border: 1px solid #666666;
}

input.button1:hover {
	border-color: #791E1E;
	color: #791E1E;
	cursor: pointer;
}

input.button1:active {
	color: #000000;
}

input.button1:disabled {
	background-position: 0pt 100%;
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
}

.racine_gauche, .racine_milieu,.racine_droite {
	top: 10px;
	float: left;
	padding: 10px;
}

a {
	color: #5A8C00;
	text-align: center;
}

a:hover {
	color: #73C800;
}

span.id_hobbit {
	color: red;
}



#navigation {
background-color:#E2E2E2;
border:1px solid #999999;
margin:0px;
padding:0px;
text-indent:0px;
width:200px;
}
#navigation h3.head {
background:#CCCC99 url(/public/images/collapsed.gif) no-repeat scroll 3px 4px;
border:1px solid #CCCCCC;
color:#791E1E;
cursor:pointer;
display:block;
font-weight:bold;
margin:0px;
padding:0px;
text-decoration:none;
text-indent:14px;
}
#navigation h3.head:hover {
color:#000000;
}
#navigation h3.selected {
background-image:url(/public/images/expanded.gif);
}
#navigation h3.current {
background-color:#FFFF99;
}
#navigation ul {
border-width:0px;
margin:0px;
padding:0px;
text-indent:0px;
}
#navigation li {
display:block;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
#navigation li li h3 {
color:#000000;
display:block;
text-decoration:none;
text-indent:10px;
}
#navigation li li h3:hover {
background-color:#FFFF99;
color:#FF0000;
}