body {
	background: #FFFFFF;
	color: #666666;
}

#frisebot,#frisetop {
	background: none;
}

#frisetop {
	background: none;
}

#frisetopvide {
	background: none;
}

#frisebot {
	background: none;
}

#braldunjeu {
	background: none;
}

#menu {
	background: none;
	display: none;
}

#header h1 {
	background: none;
}

#wrapper {
	background: none;
}

.inner {
	background: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.box_contenu1 {
	background: none;
}

.onglet.inactif {
	background: none;
}

.onglet.actif {
	background: none;
}

tr.table_liste0.hhover:hover,tr.table_liste1.hhover:hover {
	background: none;
}

tr.table_liste0 {
	background: none;
}

tr.table_liste1 {
	background: none;
}

td.table_liste_th {
	background: none;
	color: #666666;
}

input {
	background: none;
	border: 1px solid #666666;
}

.textsizea {
	color: #666666;
	text-shadow: none;
}

.textsizeb {
	color: #666666;
}

.textsizec {
	color: #666666;
}

.textsized {
	color: #666666;
}

a,.alabel {
	color: #666666;
}

.inner_top a,.inner_bot a,.inner_top .alabel {
	color: #666666;
}

#BB_header {
	background: none;
	background-color: #666666;
}

thead.table_liste,tfoot.table_liste {
	background: none;
}

#navigation h3.head {
	background: url("/images/collapsed.gif") no-repeat scroll 3px 4px
		#FFFFFF;
}

#navigation h3.head:hover {
	color: #003b00;
}

#navigation h3.head.selected {
	background: #FFFFFF url(/images/expanded.gif) no-repeat scroll
		3px 4px;
}

#navigation h3.current {
	background-color: #FFFF99;
}

.vueTableWrapper {
	display: none;
}

input.button1 {
	background-image: none;
}

div.braltip:hover span.tip{
	opacity: 1;
	filter: Alpha(Opacity = 100);
	-moz-opacity: 1.0;
}

.img_barre_faim, .img_barre_vie, .img_barre_niveau, .img_barre_poids, .img_tour_sommeil, .img_tour_eveil, .img_tour_activite {
	background-color: #C0C0C0;
	background-image:none;
}

.bougrie_text {
background: #FFFFFF;
border:1px solid #666666;
}
