body {
	background: #666666;
	color: #000000;
}

#frisebot,#frisetop {
	background: none;
}

#frisetop {
	background: none;
}

#frisetopvide {
	background: none;
}

#frisebot {
	background: none;
}

#braldunjeu {
	background: none;
}

#menu {
	background: none;
	display: none;
}

#header h1 {
	background: none;
}

#wrapper {
	background: none;
}

.inner {
	background: none;
}

.box_contenu1 {
	background: none;
}

.onglet.inactif {
	background: none;
}

.onglet.actif {
	background: none;
}

tr.table_liste0 {
	background: none;
}

tr.table_liste1 {
	background: none;
}

input {
	background: none;
	border:1px solid #000000;
}

.textsizea {
	color: #000000;
}

.textsizeb {
	color: #000000;
}

.textsizec {
	color: #000000;
}

#BB_header {
	background: none;
	background-color: #000000;
}

.vueTableWrapper {
	display:none;	
}