


.popup_fg {background-color: #eeeeee}
.popup_bg {background-color: #aaaaaa}
.popup_text {color: #000000; }

.popup_caption {color: #000000; font-weight:bold;}


.popup_close A:link {text-decoration: none; color: #333366;}
.popup_close A:visited {text-decoration: none; color: #333366;}
.popup_close A:active {text-decoration: none; color: #333366;}
.popup_close A:hover {text-decoration: underline; color: #cc0000;}