@import "box.css";
@import "box_onglets.css";
@import "competences.css";
@import "messages.css";
@import "popup.css";
@import "vue.css";

* {
	font:11px 'Trebuchet MS',verdana,sans-serif;
}

body {
  font:11px 'Trebuchet MS',verdana,sans-serif;
  
  background-image:url(/public/images/fond.gif);
  background-repeat:repeat-y;
  background-position:center top;
  
}

#logo {float:left;font-weight:bolder;margin-top:0.5em;text-align:left;}
#logo a:link, #logo a:visited, #logo a:hover, #logo a:active {color:#791E1E;font-size:2em;font-variant:small-caps;letter-spacing:2pt;text-decoration:none;}

#logo a:hover, #logo a:active {
	color:#a92929;
}

input {
  border:1px solid #CCC;
  background: #FFF;
  font:11px 'Trebuchet MS',verdana,sans-serif;
  color: #000;
  margin: 2px;
}

input:focus {
  border:1px dashed #000;
  color:#00339A;
  background-color: white;
}

input:hover {
  border:1px solid #000;
  color: #00339A;
  background-color: white;
}

.racine_gauche , .racine_milieu, .racine_droite {
  top:10px;
  float: left;
  padding: 10px;
}

a {
	color: #791e1e;
	text-align: center;
    /*font-weight: bold;
      font-variant: small-caps;
      text-decoration: none;*/
}
a:hover {
	color: #a92929;
}
