body {
	background: #FFFFFF;
	color: #666666;
}

.titrea, .pointsdistinctions, #nav-main > ul > li, table.table_liste, thead.table_liste, tfoot.table_liste {
	font: 13px arial, verdana, sans-serif;
	font-weight: normal;
    color: #666666;
    text-shadow: none;
}

#nav-main > ul > li:hover, #nav-main a:hover, #nav-main a:focus, #nav-main > ul > li:hover a, div.braltip:hover div.tip, div.tipf, .braltexte, .braltexte2 {
    text-shadow: none;
	background: none;
	color:#666666;
}

#nav-main li li a, #nav-main li li a:hover {
	background: none;
	color:#666666;
}

#frisetopa, #frisebot,#frisetop {
	background: none;
}

#frisetop {
	background: none;
}

#frisetopvide {
	background: none;
}

#frisebot {
	background: none;
}

#braldunjeu {
	background: none;
}

#menu {
	background: none;
	display: none;
}

#header h1 {
	background: none;
}

#wrapper {
	background: none;
}

.inner {
	background: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.box_contenu1, .onglet {
	background: none;
	color:#666666;	
}

.box_personnage, .box_effets, .box_competences {
	background: #eeeeee;
	color:#666666;	
}

.onglet.inactif {
	background: none;
}

.onglet.actif {
	background: none;
}

tr.table_liste0.hhover:hover,tr.table_liste1.hhover:hover {
	background: none;
}

tr.table_liste0 {
	background: none;
}

tr.table_liste1 {
	background: none;
}

td.table_liste_th {
	background: none;
	color: #666666;
}

input, input:focus {
	background: none;
	border: 1px solid #666666;
	color:#666666;
}

.textsizea {
	color: #666666;
	text-shadow: none;
}

.textsizeb {
	color: #666666;
}

.textsizec {
	color: #666666;
}

.textsized {
	color: #666666;
}

a,.alabel {
	color: #666666;
}

.inner_top a,.inner_bot a,.inner_top .alabel {
	color: #666666;
}

#BB_header {
	background: none;
	background-color: #666666;
}

thead.table_liste,tfoot.table_liste {
	background: none;
}

#navigation h3.head {
	background: url("/images/divers/collapsed.gif") no-repeat scroll 3px 4px
		#FFFFFF;
}

#navigation h3.head:hover {
	color: #003b00;
}

#navigation h3.head.selected {
	background: #FFFFFF url(/images/divers/expanded.gif) no-repeat scroll
		3px 4px;
}

#navigation h3.current {
	background-color: #FFFF99;
}

.vueTableWrapper {
	display: none;
}

input.button1 {
	background-image: none;
	background-color:transparent;
	color: #666666;
}

input.button1:hover {
	border-color: #31401A;
	cursor: pointer;
}

div.braltip:hover span.tip{
	opacity: 1;
	filter: Alpha(Opacity = 100);
	-moz-opacity: 1.0;
}

.img_barre_faim, .img_barre_vie, .img_barre_niveau, .img_barre_poids, .img_tour_sommeil, .img_tour_eveil, .img_tour_activite {
	background-color: #C0C0C0;
	background-image:none;
}

.bougrie_text {
background: #FFFFFF;
border:1px solid #666666;
}

.cadre {
    background-color: transparent;
    border: 1px solid #000000;
}

.bralannonce, .bralannonce a {
    background: none;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
}

tr.table_liste0:hover, tr.table_liste1:hover  {
    background: none;
}

#boite_a .inner, #boite_b .inner, .box_authentification .inner {
    background: none;
}

.ui-widget-content, .ui-widget-header, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default  {
	background: #eeeeee;
	color:#666666;
}