<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="robots" content="NOODP" />
    <title>Braldahim - Règles - {{ page.title }}</title>

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" media="screen" rel="stylesheet"
          type="text/css" />
    <!-- Google Analytics -->
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <!-- End Google Analytics -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"
            type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div id="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/livre1">Livre I - Guide du débutant</a></li>
            <li><a href="/competences">Compétences</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
        {{ content }}
      </div>
      <div id="footer">
		  FOOTER
      </div>
    </div>
  </body>
</html>
